
body{
    margin:0;
    padding:0;
    background-image:linear-gradient(rgb(206, 179, 179),rgb(139, 98, 98))
}
/*first section*/
.wrapper{
    margin-left:200px;
    margin-right:200px;
}
.first_section{
    display:flex; 
}

.first_div .first_heading{
    border-left:7px solid rgb(37, 58, 7);
    line-height: 15px;
    font-size:50px;

}
.heding_color{
    Color:rgb(8, 122, 56);
}
.first_text{
    font-size:20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    
}
.first_text a{
    text-decoration:none;
    padding:10px 25px;
    background-image:linear-gradient(rgb(241, 56, 195),rgb(226, 123, 195));
    color:white;
    margin-top:100px;
}




/*second section*/
/*second section*/
/*second section*/
.second_section{
    
}

.container_second{
    margin:50px 100px;
}
.container_second .second_heading{
    font-size:40px;
    text-align: center;
}
.container_second .catagory{
    display:flex;
    margin-left:15px;
    margin-right:10px;
}
.box{
    border-radius: 10px;
    box-shadow: 3px 5px 5px black;
    padding: 25px;
    margin-left:15px;
    margin-right:10px;
}
.box img{
    height:300px;
}
.box h1{
    text-align: center;
}
.box p{
    font-size:20px;
    font-weight:600;
}
.heading_color2{
    color:yellow;
    font-weight: 500;
}

/*Third section*/
/*Third section*/
/*Third section*/
.third_section{
    display: flex;
    height:550px;
    margin-top:100px;
}
.two_div{
    width:40%;
    margin-left:5%;
    margin-right:5%;
}
.two_div img{
    width:100%;
    height:100%;
}
.two_div h1{
    text-align: center;
    font-size:40px;
}
.two_div p{
    font-size:25px;
}
.two_div a{
    text-decoration:none;
    padding:15px 30px;
    background-image:linear-gradient(rgb(241, 56, 195),rgb(226, 123, 195));
    color:white;
    font-weight:500;
    font-size: 20px;
}
}

#fourth_section{
    display:flex;
    height:650px;
    margin-top:100px;
    width:100%;
    margin-bottom: 50px;
}
.developer{
    width:40%;
    margin-right:10%;
      
}
.developer h1{
    text-align: center;
    font-size: 40px;
}
.developer p{
    font-size:25px;
}
.developer a{
    text-decoration:none;
    padding:15px 30px;
    background-image:linear-gradient(rgb(241, 56, 195),rgb(226, 123, 195));
    color:white;
    font-weight:500;
    font-size: 20px;
}
.image_four{
    width:40%;
    margin-left:10%;
    
    
}
.image_four img{
    width:100%;
    height:auto;
    
    
}

footer{
    width: 100%;
    background-color:black;
    color: white;
    text-align: center;
    padding: 50px 0;
}